<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mirabell - @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/default_data/jquery-ui.css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/MyCustomStyleSheet.css" /> <!-- -->
    <link rel="stylesheet" href="~/my/style_fold.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white j-border-bottom box-shadow mb-3">
            <div class="container">

                <img src="~/my/Mirabell.png" height="40"
                     class="d-inline-block align-top" style="margin-right:16px;" alt="">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <b>Home</b> </a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Pracownicy</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CTasks" asp-action="Index">
                                Zadania
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="j-border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Mirabell - ASP.NET Core 5.0 MVC application by JL
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/my/script.js"></script> <!-- Kolejnosc tych dwoch skryptow jest wazna -->

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/wscript.js"></script>

    <script src="~/js/okno.js"></script>

    <script src="~/default_data/jquery-ui.js"></script>
    <script type="text/javascript">
        $("#datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy-mm-dd'
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false) 
</body>
</html>
